@font-face {
    font-family: ITC_bold;
    src: url(fonts/ITC_Avant_Garde/AVGARDD_2.TTF);
}
@font-face {
    font-family: ITC;
    src: url(fonts/ITC_Avant_Garde/AVGARDN_2.TTF);
}
@font-face {
    font-family: SalesforceSans;
    src: url(fonts/Salesforce_Sans/Salesforce\ Sans.ttf);
}
@font-face {
    font-family: SalesforceSans_light;
    src: url(fonts/Salesforce_Sans/Salesforce\ Sans\ Light.ttf);
}
@font-face {
    font-family: SalesforceSans_bold;
    src: url(fonts/Salesforce_Sans/Salesforce\ Sans\ Bold.ttf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.nav-bar {
    display: none;
}
.navigation {
    position: fixed;
    top: 0;
    background: #ffffff;
    height: 4rem;
    width: 100%;
}
.nav-bar-mobile {
    display: flex;
    top: 0;
    padding: 0.5rem 1rem;
    justify-content: space-between;
}
.nav-bar-mobile-logo img{
    width: 90%;
}
.nav-bar-mobile-button {
    margin-left: -1rem;
}
.nav-bar-mobile-button button {
    border-radius: 4px;
    font-size: 11px;
    padding: 10px 24px;
    font-family: SalesforceSans, Arial, Helvetica, sans-serif;
    background: transparent;
    color: #0b5cab;
    text-align: center;
    border: 1px solid #0b5cab;
    cursor: pointer;
}
.nav-bar-mobile-button button:active, .nav-bar-mobile-button button:hover {
    background-color: #e8e5e5;
} 
.nav-bar-mobile-menu i{
    color:#00a1e0;
    font-size: 35px;
}
.nav-bar-mobile-items {
    position: absolute;
    right: 0;
    width: 90%;
    transform: translateX(100%);
}
.nav-active {
    transform: translateX(0%)
}
.header {
    background: url(https://www.salesforce.com/content/dam/web/en_au/www/images/events/df22/hp-df22-eb1-mobile-v2.png);
    background-size: cover;
    height: 7rem;
    background-repeat: no-repeat;
    margin-top: 4rem;
}
#header-body {
    display: none;
}
.header-body-mobile {
    margin-left: 1.5rem;
    padding-top: 1rem;
}
.header-mobile-body-line1 {
    font-size: 18px;
    font-weight: 400;
    font-family: ITC_bold;
    color: #032d60;
}
.header-mobile-body-line2, .header-mobile-body-line3 {
    font-size: 15px;
    font-weight: 400;
    font-family: SalesforceSans_bold, Arial, Helvetica, sans-serif;
    color: #032D60;
}
.header-mobile-body-line4 a {
    font-size: 18px;
    font-weight: 400;
    font-family: ITC_bold;
    color: #032d60;
}
.hero-section {
    display: flex;
    flex-direction: column;
}
#hero-section-heading {
    color: #032D60;
    font-family: ITC_bold; /*important*/
    font-size: 18px;
    font-weight: 400;
    text-align: left;
    /*line-height: 60px !important;*/
    margin-top: 5%;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-bottom: 0;
}

.hero-section-text {
    font-family: SalesforceSans_light, Arial, Helvetica, sans-serif;
    color: #181818;
    font-size: 15px;
    margin-left: 2rem;
    /*margin-right: 2rem;*/
    margin-top: 1rem;
}
#hero-section-text-link {
    color: #0b5cab;
    border-bottom: 1px solid ;
}
.hero-section-button {
    text-align: left;
    margin-top: 1rem;
    margin-left: 2rem;
    display: flex;
    text-align: left;
}
#h-s-btn-1 {
    border-radius: 4px;
    font-size: 14px;
    padding: 10px 24px;
    font-family: SalesforceSans, Arial, Helvetica, sans-serif;
    background-color: #278806;
    color: #ffffff;
    text-align: center;
    border: 1px solid transparent;
    margin-right: 2rem;
    margin-bottom: 1rem;
    cursor: pointer;
}
#h-s-btn-1:active, #h-s-btn-1:hover {
    background-color: #227406;
}
#h-s-btn-2 {
    border-radius: 4px;
    font-size: 14px;
    padding: 10px 24px;
    font-family: SalesforceSans, Arial, Helvetica, sans-serif;
    background-color: #0b5cab;
    color: #ffffff;
    text-align: center;
    border: 1px solid transparent;
    cursor: pointer;
}
#h-s-btn-2:active, #h-s-btn-2:hover {
    background-color: #0b4a89;
}
a {
    text-decoration: none;
}
.hero-section-img {
    margin-left: 1rem;
    margin-right: 1rem;
    content: url(media/prospect-mobile-wheel-bg_bharat-petroleum-768x932-v2.png);
}
/*#hero-section-img-full {
    visibility: hidden;
}*/
.hero-section-img img {
    border: 0;
    text-align: center;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    margin-top: 1.5rem;
}
.section-two-cando {
    margin-left: 1rem;
    margin-right: 1rem;
    text-align: center;
}
#section-two-heading {
    margin-top: 10%;
}
.heading {
    text-align: center;
    color: #032d60;
    font-size: 16px;
    font-family: ITC_bold;
    margin-bottom: 10%;
    margin-top: 8rem;
}
.section-two-content-cards-heading {
    color: #032d60;
    font-size: 15px;
    font-family: ITC_bold;
    margin-bottom: 0.5rem;
    margin-top: 6%;
}
.section-two-content-cards-text {
    color: #181818;
    font-size: 14px;
    font-family: SalesforceSans_light,  Arial, Helvetica, sans-serif;
    margin-bottom: 6%;
}
.section-two-content-cards-link {
    color: #0b5cab;
    font-size: 14px;
    font-family: SalesforceSans, Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin-bottom: 10%;
}
.section-two-content-cards-link a{
    color: #0b5cab;
}

.section-three-whatsnew {
    margin-left: 1rem;
    margin-right: 1rem;
}
.section-three-content-body-text-prag {
    color: #444444;
    font-family: SalesforceSans_bold, Arial, Helvetica, sans-serif;
    margin-bottom: 0.5rem;
    font-size: 11px;
    letter-spacing: 1.5px;
}
.section-three-content-body-link {
    color: #032d60;
    font-family: ITC_bold;
    margin-bottom: 1.5rem;
    font-size: 1rem;
}
.section-three-content-body-link a{
    color: #032d60;
}
.section-three-content-body-img {
    display: none;
}
.section-four-benefit {
    margin-left: 1rem;
    margin-right: 1rem;
    text-align: left;
}
.section-four-content {
    display: flex;
    flex-direction: column;
    margin-left: 0.5rem;
}

#section-four-heading {
    margin-bottom: 1rem;
}
.section-four-content-text {
    display: flex;
    flex-direction: row;
}
.section-four-content-text-tick {
    margin-right: 1rem;
}
.section-four-content-body-text-prag-head {
    color: #181818;
    font-family: SalesforceSans_bold, Arial, Helvetica, sans-serif;
}
.section-four-content-body-text-prag-desc {
    color: #181818;
    font-family: SalesforceSans, Arial, Helvetica, sans-serif;
    margin-bottom: 1rem;
    font-size: 15px;
}
.section-four-button {
    margin-left: 2.25rem;
}
.section-four-button button {
    border-radius: 4px;
    font-size: 14px;
    padding: 10px 24px;
    font-family: SalesforceSans, Arial, Helvetica, sans-serif;
    background-color: #0b5cab;
    color: #ffffff;
    text-align: center;
    border: 1px solid transparent;
    cursor: pointer;
}
.section-four-button button:active, .section-four-button button:hover {
    background-color: #0b4a89;
}
.section-four-img{
    max-width: 100%;
}
.section-five-explore {
    margin-left: 1rem;
    margin-right: 1rem;
}
#section-five-heading {
    text-align: left;
    margin-top: 5rem;
}
.section-five-content {
    display: flex;
    flex-direction: column;
}
.section-five-content-img {
    margin-bottom: 1rem;
}
.section-five-content-left-img {
    max-width: 100%;
}
.section-five-content-left-text-heading {
    color: #032d60;
    font-family: ITC_bold;
    font-size: 1rem;
    margin-bottom: 0.5rem;
}
.section-five-content-left-text-prag {
    color: #181818;
    font-family: SalesforceSans, Arial, Helvetica, sans-serif;
    margin-bottom: 0.5rem;
    font-size: 15px;
}
.section-five-content-button button {
    border-radius: 4px;
    font-size: 14px;
    padding: 10px 24px;
    font-family: SalesforceSans, Arial, Helvetica, sans-serif;
    background-color: #0b5cab;
    color: #ffffff;
    text-align: center;
    border: 1px solid transparent;
    margin-bottom: 3rem;
    cursor: pointer;
}
.section-five-content-button button:active, .section-five-content-button button:hover {
    background-color: #0b4a89;
}
.section-five-content-right-body-image {
    max-width: 100%;
    margin-bottom: 1rem;
}
.section-five-content-right-body-text-heading {
    color: #444444;
    font-family: SalesforceSans_bold, Arial, Helvetica, sans-serif;
    margin-bottom: 0.75rem;
    font-size: 11px;
    letter-spacing: 1.5px;
}
.section-five-content-right-body-text-link {
    color: #032d60;
    font-family: ITC_bold;
}
.section-five-content-right-body-text-desc {
    color: #181818;
    font-family: SalesforceSans, Arial, Helvetica, sans-serif;
    margin-top: 0.75rem;
    margin-bottom: 4rem;
    font-size: 15px;
}
#section-five-background {
    position: absolute;
    left: 0;
    right: 0;
}
.section-six-customer360 {
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 25%;
    text-align: center;
}
.section-six-content-body-cards-text-heading {
    color: #032d60;
    font-family: SalesforceSans_bold, Arial, Helvetica, sans-serif;
    margin-bottom: 1rem;
    font-size: 16px;
    font-family: ITC_bold;
}
.section-six-content-body-cards-button button{
    border-radius: 4px;
    font-size: 14px;
    padding: 10px 24px;
    font-family: SalesforceSans, Arial, Helvetica, sans-serif;
    background-color: #0b5cab;
    color: #ffffff;
    text-align: center;
    border: 1px solid transparent;
    margin-bottom: 1rem;
    cursor: pointer;
}
.section-six-content-body-cards-button button:active, .section-six-content-body-cards-button button:hover {
    background-color: #0b4a89;
}
.section-six-content-body-cards-link a{
    color: #0b5cab;
    font-family: SalesforceSans_bold, Arial, Helvetica, sans-serif;
    font-size: 14px;
    margin-bottom: 2rem;
    cursor: pointer;
}
.section-six-content-body-cards-text img {
    width: 130px;
}
.section-six-footer-text {
    color: #032d60;
    font-family: SalesforceSans_bold, Arial, Helvetica, sans-serif;

}
.section-six-content-footer button {
    border-radius: 4px;
    font-size: 14px;
    padding: 10px 24px;
    font-family: SalesforceSans, Arial, Helvetica, sans-serif;
    background-color: #ffffff;
    color: #0b5cab;
    text-align: center;
    border: 1px solid #c1b9b4;
    margin-top: 1rem;
    cursor: pointer;
}
.section-six-content-footer button:active, .section-six-content-footer button:hover {
    background-color: #e8e5e5;
}
.section-seven-story {
    margin-left: 1rem;
    margin-right: 1rem;
    text-align: center;
}
.section-seven-context-body-cards-imgtext-name {
    color: #181818;
    font-family: SalesforceSans_bold,   Arial, Helvetica, sans-serif;
    font-size: 15px;
}
.section-seven-context-body-cards-imgtext-desc {
    color: #181818;
    font-family: SalesforceSans,   Arial, Helvetica, sans-serif;
    font-size: 15px;
}
.section-seven-content-body-cards-button button {
    border-radius: 4px;
    font-size: 14px;
    padding: 10px 24px;
    font-family: SalesforceSans, Arial, Helvetica, sans-serif;
    background-color: #ffffff;
    color: #0b5cab;
    text-align: center;
    border: 1px solid #c1b9b4;
    margin-top: 1rem;
    margin-bottom: 2rem;
    cursor: pointer;
}
.section-seven-content-body-cards-button button:active, .section-seven-content-body-cards-button button:hover {
    background-color: #e8e5e5;
}
.section-seven-content-body-cards-tag {
    color: #0b5cab;
    font-family: SalesforceSans_bold, Arial, Helvetica, sans-serif;
    margin-bottom: 3rem;
}
.section-seven-content-body-cards-tag a{
    color: #0b5cab;
}
.section-seven-content-footer {
    color: #032d60;
    font-family: SalesforceSans_bold, Arial, Helvetica, sans-serif;
    font-size: 14px;
}
.section-seven-content-footer a{
    color: #0b5cab;
}
.section-eight-content {
    margin-top: 5rem;
    background: url(https://www.salesforce.com/content/dam/web/en_au/www/images/home/hp-img-closer-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    padding-left: 1rem;
    padding-right: 1rem;
    height: 100%;
}
.section-eight-content-left {
    width: 100%;
    text-align: left;
    margin-bottom: 5rem;
}
#section-eight-content-left-heading {
    text-align: left;
    margin-bottom: 5%;
}
.section-eight-content-left-body {
    font-size: 15px;
    font-family: SalesforceSans, Arial, Helvetica, sans-serif;
    color: #181818;
}
.section-eight-content-body-left-button {
    display: flex;
    margin-top: 1rem;
    gap: 1rem;
}
.s-e-left-btn1 button{
    border-radius: 4px;
    font-size: 14px;
    padding: 10px 24px;
    font-family: SalesforceSans, Arial, Helvetica, sans-serif;
    background-color: #0b5cab;
    color: #ffffff;
    text-align: center;
    border: 1px solid transparent;
    margin-bottom: 1rem;
    cursor: pointer;
}
.s-e-left-btn1 button:active, .s-e-left-btn1 button:hover{
    background-color: #0b4a89;
}
.s-e-left-btn2 button{
    border-radius: 4px;
    font-size: 14px;
    padding: 10px 24px;
    font-family: SalesforceSans_bold, Arial, Helvetica, sans-serif;
    background: transparent;
    color: #0b5cab;
    text-align: center;
    border: 1px solid transparent;
    margin-bottom: 1rem;
    cursor: pointer;
}
.section-eight-content-right img {
    width: 90%;
    margin-bottom: -5px;
}
.section-eight-content-right {
    align-items: flex-end;
}
.section-nine-content {
    display: none;
}
.section-footer {
    background-color: #032D60;
    padding: 0px 32px;
    margin-left: auto;
    margin-right: auto;
    font-family: 15px;
    font-family: SalesforceSans, Arial, Helvetica, sans-serif;
    text-align: left;
}
.footer-button {
    text-align: center;
}
.footer-button button{
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    min-width: 142px;
    padding: 8px 16px;
    cursor: pointer;
    height: 32px;
    font-family: SalesforceSans, Arial, Helvetica, sans-serif;
    border: 1px solid #ffffff;
    color: #ffffff;
    background: transparent;
    font-size: 11px;
    border-radius: 5px;
    vertical-align: middle;
    text-align: center;
}
.section-footer-content {
    display: flex;
    flex-direction: column;
    padding-bottom: 1.5rem;
}
.section-footer-body a {
    text-decoration: underline;
    color: #00a1e0;
    cursor: pointer;
}
.section-footer-body a:hover, .section-footer-body a:active{
    color: #ffffff;
}
.section-footer-body-text {
    font-size: 11px;
    color: #ffffff;
    margin-bottom: 1rem;
}
.section-footer-body-links {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-size: 11px;
    column-gap: 1.25rem;
    row-gap: 0.25rem;
}
.hidden {
    visibility: hidden;
}

@media (min-width: 767px) {
    .header {
        background: url(https://www.salesforce.com/content/dam/web/en_au/www/images/events/df22/hp-df22-eb1-sm-longer.png);
        background-size: cover;
    }
    .header {
        height: 150px;
        width: 100%;
    }
    .header-body-mobile {
        display: none;
    }
    #header-body {
        display: flex;
        padding: 50px 8px 8px 8px;
        gap: 3rem;
    }
    #header-text-blue {
        color: #032d60;
    }
    #header-text-white {
        color: #ffffff;
    }
    .header-text span {
        font-weight: 400;
        font-size: 24px;
        font-family: ITC_bold;
        margin-left: 16.5rem;
    }
    .header-button {
        margin-top: 10px;
    }
    .header-button button {
        border-radius: 4px;
        font-size: 14px;
        padding: 10px 24px;
        font-family: SalesforceSans, Arial, Helvetica, sans-serif;
        background-color: #ffffff;
        color: #0b5cab;
        text-align: center;
        border: 1px solid transparent;
        cursor: pointer;
    }
    .header-button button:active, .header-button button:hover {
        background-color: #e8e5e5;
    }
    #hero-section-heading {
        font-size: 28px;
    }
    .hero-section-text {
        font-size: 22px;
    }
    .heading {
        font-size:24px;
    }
    .hero-section-img {
        text-align: center;
        content: url(media/prospect-mobile-wheel-bg_bharat-petroleum-768x932-v2.png);
    }
    .section-two-content {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-right: 2rem;
        margin-left: -2rem;
    }
    .section-two-content-cards {
        width: 200px;
    }
    .section-two-content-cards-img img{
        max-width: 90%;
    }
    .section-two-content-cards-text {
        font-size: 13px;
        height: 5rem;
    }
    .section-two-content-cards-link {
        font-size: 14px;
    }
    #section-three-heading {
        margin-bottom: 2rem;
        margin-top: 5rem;
    }
    .section-four-content {
        flex-direction: row;
    }
    .section-four-content-text {
        flex-direction: row;
    }
    .section-four-content-body-text-prag-desc {
        font-size: 15px;
    }
    .section-four-img img{
        max-width: 90%;
    }
    .section-five-content-left {
        display: flex;
        flex-direction: row;
        gap: 1.5rem;
    }
    .section-five-content-img {
        width: 60%;
    }
    .section-five-content-right-body {
        display: flex;
        flex-direction: row;
        gap: 1.5rem;
    }
    .section-five-content-right-body-text-heading {
        font-size: 11px;
    }
    .section-five-content-right-body-text-link {
        font-size: 18px;
        font-weight:900;
    }
    #section-five-content-right-body-img-one {
        width: 65%;
    }
    #section-five-content-right-body-img-two {
        width: 85%;
    }
    #section-five-content-right-body-img-three {
        width: 110%;
    }
    .section-six-customer360 {
        margin-top: 25%;
    }
    /*.section-six-content {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 5rem;
        justify-content: space-around;
    }*/
    .section-six-content-body {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 5rem;
        justify-content: space-around;
    }
    #section-six-button-margin button{
        margin-top: 20px;
    }
    .section-six-content-body-cards {
        width: 20%;
    }
    .section-six-content-footer {
        width: 20%;
    }
    #section-seven-heading {
        margin-bottom: 2rem;
    }
    .section-seven-content-body {
        display: flex;
        flex-direction: row;
    }
    .section-seven-card-pic {
        width: 80%;
    }
    #section-seven-card-pic-four, #section-seven-card-pic-two, #section-seven-card-pic-three {
        width: 80%;
    }
    .section-seven-content-body-cards {
        width: 200px;
    }
    .section-seven-content-body-cards-tag {
        width: 140px;
        margin-left: auto;
        margin-right: auto;
    }
    #section-seven-button-margin {
        margin-top: 40px;
    }
    .section-eight-content {
        background-size: 250%;
        background-repeat: no-repeat;
    }
    .hidden {
        visibility: hidden;
    }
    .section-footer-content {
        flex-direction: row;
    }
    .section-footer-body {
        padding-left: 2rem;
        padding-top: 1.5rem;
    }
}

@media (min-width: 1000px) {
    .header {
        background: url(https://www.salesforce.com/content/dam/web/en_au/www/images/events/df22/hp-df22-eb1-sm-longer.png);
        background-size: cover;
    }
    .header {
        height: 150px;
    }
    .header-body-mobile {
        display: none;
    }
    #header-body {
        display: flex;
        padding: 50px 8px 8px 8px;
        gap: 12rem;
    }
    #header-text-blue {
        color: #032d60;
    }
    #header-text-white {
        color: #ffffff;
    }
    .header-text span {
        font-weight: 400;
        font-size: 24px;
        font-family: ITC_bold;
        margin-left: 25rem;
    }
    .header-button {
        margin-top: 10px;
    }
    .header-button button {
        border-radius: 4px;
        font-size: 14px;
        padding: 10px 24px;
        font-family: SalesforceSans, Arial, Helvetica, sans-serif;
        background-color: #ffffff;
        color: #0b5cab;
        text-align: center;
        border: 1px solid transparent;
        cursor: pointer;
    }
    .header-button button:active, .header-button button:hover {
        background-color: #e8e5e5;
    }
    .hero-section {
        flex-direction: row;
        margin-left: 1rem;
        overflow-x: hidden;
    }
    #hero-section-heading {
        font-size: 28px;
    }
    .hero-section-text {
        width: 30rem;
        font-size: 22px;
    }
    /* #hero-section-img-mobile {
        visibility: hidden;
    }*/
    .hero-section-img {
        content: url(media/prospect-jumbotron-lg_bharat-petroleum-1053x500-v2.png);
        height: 30%;
    }
    .heading {
        font-size: 24px;
    }
    .section-two-cando {
        margin-left: 1rem;
    }
    #section-two-heading {
        margin-bottom: 2rem;
        margin-top: 3rem;
        text-align: center;
    }
    .section-two-content {
        justify-content: space-between;
    }
    .section-two-content-cards {
        width: 350px;
    }
    .section-two-content-cards-heading {
        font-size: 15px;
    }
    .section-two-content-cards-text {
        font-size: 13px;
        width: 250px;
        margin-left: 2.5rem;
        height: 50px;
    }
    .section-two-content-cards-img img{
        width: 230px;
    }
    #section-two-third-img {
        margin-bottom: 20px;
    }
    .section-two-content-cards-link {
        font-size: 15px;
    }
    .section-three-whatsnew {
        margin-left: 2.5rem;
        margin-right: 4rem;
    }
    .section-three-content {
        display: flex;
        gap: 1rem;
    }
    .section-three-content-body {
        display: flex;
        gap: 3rem;
    }
    .section-three-content-body-img {
        display: flex;
        width: 150%;
    }
    .section-four-benefit {
        margin-left: 3rem;
        margin-right: 3rem;
    }
    #section-four-heading {
        margin-bottom: 3rem;
        text-align: left;
        margin-left: 50px;
    }
    .section-four-content-text {
        width: 420px;
    }
    .section-four-content-image {
        text-align: right;
    }
    .section-four-img {
        height: 75%;
        margin-top: -30px;
    }
    .section-five-explore {
        margin-left: 2rem;
        margin-right: 2rem;
    }
    #section-five-heading {
        margin-bottom: 1.5rem;
    }
    .section-five-content {
        flex-direction: row;
    }
    .section-five-content-left {
        flex-direction: column;
        width: 150%;
    }
    .section-five-content {
        gap: 2rem;
    }
    .section-five-content-left-text-prag {
        width: 94%;
    }
    .section-five-content-right-body {
        width: 85%;
        font-size: medium;
    }
    .section-five-content-right-body-text-desc {
        margin-bottom: 1rem;
    }
    .section-six-customer360 {
        margin-left: 2rem;
        margin-right: 2rem;
        margin-top: 25%;
    }
    #section-six-heading {
        margin-bottom: 2rem;
    }
    .section-six-content-body {
        flex-wrap: wrap;
        justify-content: center;
        gap: 0;
        text-align: center;
    }
    #section-six-footer {
        margin-top: 5rem;
        margin-left: 6rem;
    }
    #section-six-button-margin button{
        margin-top: 20px;
    }
    .section-six-content-footer {
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .section-six-footer-text {
        padding-top: 25px;
        padding-left: 10px;
        padding-right: 80px;
        font-family: SalesforceSans, Arial, Helvetica, sans-serif;
    }
    .section-seven-story {
        margin-left: 2rem;
        margin-right: 2rem;
        text-align: center;
    }
    .section-seven-content {
        text-align: center;
    }
    .section-seven-content-body {
        text-align: center;
        display: flex;
        justify-content: space-around;
    }
    #section-seven-button-margin {
        margin-top: 40px;
    }
    .section-nine-content {
        display: flex;
        margin-top: 40px;
        margin-left: 2rem;
        margin-right: 2rem;
        margin-bottom: 50px;
    }
    .section-nine-content-left-logo {
        margin-bottom: 40px;
    }
    .section-nine-content-left {
        margin-right: 3rem;
    }
    .section-nine-content-left-icons {
        display: flex;
        cursor: pointer;
    }
    .section-nine-content-left-icons a {
        font-size: 26px;
        margin-right: 2rem;
        color: #444444;
    }
    .section-nine-content-left-call {
        color: #181818;
        text-align: left;
        font-family: SalesforceSans, Arial, Helvetica, sans-serif;
        font-size: 22px;
        margin-top: 1rem;
    }
    .section-nine-content-right {
        margin-right: 10rem;
    }
    .section-nine-content-right-heading {
        font-size: 15px;
        font-weight: 400;
        font-family: SalesforceSans, Arial, Helvetica, sans-serif;
        color: #181818;
        margin-bottom: 1rem;
    }
    .section-nine-content-right-text {
        margin-bottom: 10px;
    }
    .section-nine-content-right-text a {
        font-size: 12px;
        font-family: SalesforceSans, Arial, Helvetica, sans-serif;
        color: #0b5cab;
        cursor: pointer;
    }
    .section-nine-content-right-text a:active {
        color: #181818;
    }
    .hidden {
        visibility: visible;
    }
    .section-eight-content {
        margin-top: 0;
        flex-direction: row;
        padding-left: 2rem;
        padding-right: 2rem;
        gap: 2.5rem;
    }
    .section-eight-content-left {
        margin-top: 5rem;
        width: 60%;
    }
    .section-eight-content-right {
        margin-top: 15rem;
    }
    .section-eight-content-right-image img {
        height: 90%;
    }
}
@media (min-width: 1100px) {
    .nav-bar-mobile {
        display: none;
    }
    .nav-bar {
        display: flex;
        padding-left: 120px;
        margin-top: 1rem;
        border-bottom: 3px solid #00a1e0;
    }
    .navigation {
        display: none;
    }
    .nav-bar-items {
        display: flex;
        margin-top: 60px;
        margin-left: 15px;
        padding-bottom: 8px;
        column-gap: 15px;
    }
    .nav-bar-items a {
        font-size: 16px;
        font-family: SalesforceSans, Arial, Helvetica, sans-serif;
        color: #215ca0;
    }
    .nav-bar-right {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        width: 100%;
        margin-right: 10%;
    }
    .nav-bar-top {
        display: flex;
    }
    .nav-bar-top-search {
        color: #222222;
        font-size: 16px;
        font-family: SalesforceSans, Arial, Helvetica, sans-serif;
    }
    .nav-bar-top-contact {
        color: #0b5cab;
        font-size: 15px;
        font-family: SalesforceSans, Arial, Helvetica, sans-serif;
        margin-left: 1rem;
    }
    .nav-bar-top-login {
        display: flex;
        font-size: 15px;
        color: #215ca0;
        font-family: SalesforceSans, Arial, Helvetica, sans-serif;
        margin-left: 0.5rem;
        padding-left: 1rem;
        border-left: 1px solid rgb(187, 189, 190);

    }
    .nav-bar-top-login img {
        width: 20px;
        margin-left: 5px;
    }
    .nav-bar-bottom {
        margin-top: 0.5rem;
    }
    .nav-bar-bottom button {
        border-radius: 4px;
        font-size: 14px;
        padding: 10px 24px;
        font-family: SalesforceSans, Arial, Helvetica, sans-serif;
        background-color: #278806;
        color: #ffffff;
        text-align: center;
        border: 1px solid transparent;
        margin-bottom: 1rem;
        cursor: pointer;
    }
    .nav-bar-bottom button:active, .nav-bar-bottom button:hover {
        background-color: #227406;
    }
    .header {
        background: url(https://www.salesforce.com/content/dam/web/en_au/www/images/events/df22/hp-df22-eb1-sm-longer.png);
        background-size: cover;
        height: 150px;
        margin-top: 0;
    }
    .header-body {
        display: flex;
        padding: 8px;
        gap: 12rem;
    }
    #header-text-blue {
        color: #032d60;
    }
    #header-text-white {
        color: #ffffff;
    }
    .header-text span {
        font-weight: 400;
        font-size: 24px;
        font-family: ITC_bold;
        margin-left: 25rem;
    }
    .header-button {
        margin-top: 10px;
    }
    .header-button button {
        border-radius: 4px;
        font-size: 14px;
        padding: 10px 24px;
        font-family: SalesforceSans, Arial, Helvetica, sans-serif;
        background-color: #ffffff;
        color: #0b5cab;
        text-align: center;
        border: 1px solid transparent;
        cursor: pointer;
    }
    .header-button button:active, .header-button button:hover {
        background-color: #e8e5e5;
    }
    .hero-section {
        overflow-x: hidden;
    }
    #hero-section-heading {
        font-size: 26px;
        width: 30rem;
        margin-right: 0;
        margin-top: 3rem;
    }
    .hero-section-body {
        margin-left: 100px;
    }
    .hero-section-text {
        width: 30rem;
        margin-right: 0;
    }
    .hero-section-img {
        content: url(media/prospect-jumbotron-lg_bharat-petroleum-1053x500-v2.png);
        margin-right: 0;
        cursor: pointer;  
    }
    /*#hero-section-img-full {
        
    }*/
    .heading {
        font-size: 25px;
    }
    .section-two-cando {
        margin-left: 100px;
        margin-right: 100px;
    }
    #section-two-heading {
        margin-bottom: 2rem;
        margin-top: 3rem;
        text-align: center;
    }
    .section-two-content {  /*to think*/
        justify-content: center;
        gap: 6rem;
    }
    .section-two-content-cards {
        width: 250px;
    }
    .section-two-content-cards-text {
        margin-left: 0;
    }
    .section-three-whatsnew {
        margin-left: 150px;
        margin-right: 150px;
    }
    .section-three-content {
        display: flex;
        justify-content: center;
    }
    .section-three-content-body {
        display: flex;
        gap: 0.5rem;
    }
    .section-three-content-body-img {
        display: flex;
        width: 70%;
    }
    .section-three-content-body-text {
        width: 12rem;
    }
    .section-four-benefit {
        margin-left: 165px;
        margin-right: 150px;

    }
    #section-four-heading {
        margin-bottom: 3rem;
        text-align: left;
        margin-left: 50px;
        margin-top: 4rem;
    }
    .section-five-explore {
        margin-left: 150px;
        margin-right: 120px;
        
    }
    .section-five-content {
        gap: 6rem;
    }
    .section-five-content-img {
        width: 117%;
        margin-bottom: 0;
    }
    .section-five-content-left-text-prag {
        width: 94%;
    }
    .section-five-content-right-body {
        column-gap: 5rem;
    }
    .section-five-content-right-body-text-desc {
        margin-bottom: 1rem;
    }
    .section-five-content-right-body-image {
        max-width: 130%;
        margin-bottom: 1rem;
    }
    .section-six-customer360 {
        margin-left: 100px;
        margin-right: 100px;
    }
    .section-six-content-body-cards {
        margin-right: -1rem;
    }
    .section-six-content-footer {
        display: flex;
        justify-content: center;
        margin-left: 60px;
    }
    .section-six-footer-text {
        padding-top: 25px;
        padding-left: 10px;
        padding-right: 80px;
    }
    #section-six-button-margin button{
        margin-top: 20px;
    }
    .section-seven-story {
        margin-left: 100px;
        margin-right: 100px;
    }
    #section-seven-button-margin {
        margin-top: 40px;
    }
    .section-four-img {
        max-height: 75%;
        margin-left: 12%;
    }
    .section-eight-content {
        margin-top: 0;
        flex-direction: row;
        padding-left: 150px;
        padding-right: 70px;
        gap: 2.5rem;
    }
    .section-eight-content-left {
        margin-top: 5rem;
        width: 60%;
    }
    .section-eight-content-right {
        margin-top: 15rem;
    }
    .section-eight-content-right-image img {
        height: 90%;
    }
    .section-nine {
        margin-left: 100px;
    }
    .section-nine-content-right {
        margin-right: 5rem;
    }
    .section-footer-content {
        margin-left: 100px;
        margin-right: 100px;
        
    }
    .hidden {
        visibility: visible;
    }
}

@media (max-width: 400px) {
    #hero-section-heading {
        font-size: 18px;
    }
    .hero-section-img {
        content: url(media/prospect-mobile-wheel-bg_bharat-petroleum-768x932-v2.png);
    }
    .heading {
        font-size: 16px;
        margin-top: 6.5rem;
    }
    .hero-section-button {
        flex-direction: column;
    }
    .section-two-content-cards-link {
        font-size: 14px;
    }
    .section-eight-content-body-left-button {
        gap: 0;
    }
    .s-e-left-btn1 button{
        padding: 8px 18px;
    }
    .s-e-left-btn2 button {
        padding: 8px 18px;
    }
    .hidden {
        visibility: hidden;
    }
}
@media (max-width: 300px){
    .hero-section-text {
        margin-right: 2rem;
    }
    .section-eight-content-body-left-button {
        flex-direction: column;
    } 
    .s-e-left-btn2 button {
        padding-left: 0;
    }
}
@media (min-width: 918px) {
    .header-text span {
        margin-left: 16.5rem;
    }
}